@{
    ViewBag.Title = "Home Page";
}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="content-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="underline-animate"><a class="page-scroll" href="#home">home</a></li>
                    <li class="underline-animate"><a class="page-scroll" href="#portfolio">portfolio </a></li>
                    <li class="underline-animate"><a class="page-scroll" href="#about">about</a></li>
                    <li class="underline-animate"><a class="page-scroll" href="#contact">contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<section id="home">
    <div class="section home">
        <div class="container">
            <div class="row text-center">
                <img src="~/img/my-photo.png" class="img-responsive img-circle" style="margin:auto" alt="my-photo" width="200" height="200">
                <h2>Nataliia Stehnii</h2>
                <h1 class="text-center">Front-end Developer</h1>
                <h3 class="text-center">HTML CSS JavaScript - Bootstrap JQuery - WordPress OpenCart</h3>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="section portfolio">
        <div class="container">
            <div class="row">
                <h4 class="line">
                    <span class="section-title"><strong>portfolio</strong></span>
                </h4>
                <h2 class="text-center">Examples</h2>
                <div class="col-md-6">
                    <div class="work">
                        <a href="http://bookbox.ua/" target="_blank"><img class="img-responsive" src="~/img/bookbox.png" alt="bookbox"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="work">
                        @*<a href="works/change/index.html">*@
                        <img class="img-responsive" src="~/img/coming-soon.png" alt="coming-soon">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="work">
                        <a href="https://50mango.com/" target="_blank"><img class="img-responsive" src="~/img/50mango.png" alt="50mango"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="section about">
        <div class="container">
            <div class="row">
                <h4 class="line">
                    <span class="section-title"><strong>about</strong></span>
                </h4>
                <div class="text-center">

                    <h2>Skills</h2>
                    <div class="logos">
                        <div class="logo">
                            <img src="~/img/html5.png" class="img-responsive " alt="html5" /><strong>HTML 5</strong>
                        </div>
                        <div class="logo">
                            <img src="~/img/css3.png" class="img-responsive" alt="css3" /> <strong>CSS 3</strong>
                        </div>
                        <div class="logo">
                            <img src="~/img/js.png" class="img-responsive " alt="js" /> <strong>JavaScript</strong>
                        </div>
                    </div>
                    <div class="logos">
                        <div class="logo">
                            <img src="~/img/jquery.png" class="img-responsive " alt="jquery" /><strong>JQuery</strong>
                        </div>
                        <div class="logo">
                            <img src="~/img/bootstrap.png" class="img-responsive" alt="bootstrap" /><strong>Bootstrap</strong>
                        </div>
                    </div>
                    <div class="logos">
                        <div class="logo">
                            <img src="~/img/wordpress.png" class="img-responsive" alt="wordpress" /><strong>WordPress</strong>
                        </div>
                        <div class="logo">
                            <img src="~/img/opencart.png" class="img-responsive" alt="opencart" /><strong>OpenCart</strong>
                        </div>
                    </div>
                    <div class="logos">
                        <div class="logo">
                            <img src="~/img/ps.png" class="img-responsive " alt="ps" /><strong>Photoshop</strong>
                        </div>
                        <div class="logo">
                            <img src="~/img/git.png" class="img-responsive" alt="git" /><strong>Git</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="section contact">
        <div class="container">
            <div class="row">
                <h4 class="line">
                    <span class="section-title"><strong>contact</strong></span>
                </h4>
                <h2>Connect with me</h2>
                <div class="mail">
                    <div class="cont"><img src="~/img/mail.png" class="img-responsive" alt="mail" /></div>
                    <p class="name cont"><strong>n.stehnii@gmail.com</strong></p>
                </div>
                <div class="skype">
                    <div class="cont">	<img src="~/img/skype.png" class="img-responsive" alt="skype" /></div>
                    <p class="name cont">natasha_goloborodko</p>
                </div>
                <div class="phone">
                    <div class="cont"><img src="~/img/phone.png" class="img-responsive" alt="phone" /></div>
                    <p class="name cont">+38(096)204-75-97</p>
                </div>

                @model Portfolio.ASP.Net.Models.ContactViewModel
               

                <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
                <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
                <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
                    <div class="col-md-6 col-md-offset-3">
                            @if (ViewBag.Message == null)
                            {
                            <form method="post">
                                <div class="form-group">
                                    <label asp-for="Name">Name</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-muted"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email">Email</label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-muted"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Subject">Subject</label>
                                    <input asp-for="Subject" class="form-control" />
                                    <span asp-validation-for="Subject" class="text-muted"></span>
                                </div>
                                <div class="form-group"> <label asp-for="Message">Message</label>
                                    <textarea rows="5" cols="15" asp-for="Message" class="form-control"></textarea>
                                    <span asp-validation-for="Message" class="text-muted"></span>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success">Send</button>
                                </div>
                            </form>
                            }
                            @if (ViewBag.Message != null){
                                <div>@ViewBag.Message</div>}
                    </div>
                </div>
            </div>
        </div>
</section>

    @section Scripts {
        <script type="text/javascript">

            $(function () {

                // Page scrolling feature
                $('a.page-scroll').bind('click',
                    function (event) {
                        var link = $(this);
                        $('html, body').stop().animate({
                            scrollTop: $(link.attr('href')).offset().top - 50
                        },
                            500);
                        event.preventDefault();
                    });

                $('body').scrollspy({
                    target: '.navbar-fixed-top',
                    offset: 80
                });

            });
        </script>
    }
